@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #dfdfdf;
}

h3 {
  color: #faf9f6;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0 0 5px black;
}

span {
  color: #2ecc70e0;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0 0 5px black;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: #faf9f6;
  margin-top: 10px;
  text-shadow: 0 0 2px black;
}

button {
  background: #2ecc70cc;
  border: none;
  color: #faf9f6;
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s all 0s;
}

button:hover {
  background: #faf9f6;
  color: #2ecc70cc;
}

hr {
  max-width: 350px;
  margin: 15px 0 0 50px;
}

.content-container {
  background: #303655;
  width: 550px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 5px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}

.text-container {
  margin: 80px 0 0 50px;
}

.button-container {
  margin: 40px 0 0 50px;
}
